mixin formField(type, name, placeholder)
  if type == submit
    input(
      type=type, 
      name=name, 
      placeholder=placeholder,
      )&attributes(attributes)
  if type != submit
      input(type=type, 
      name=name, 
      placeholder=placeholder
      )&attributes(attributes)
