extends page-layout.pug 
block content
  - var addMemberUrl = sails.getUrlFor('ChatroomController.addChatMember')
  - var leaveURL = sails.getUrlFor('ChatroomController.leave')
  - var originURL = sails.getUrlFor('ChatroomController.settings')
  - var removeURL = sails.getUrlFor('ChatroomController.removeChatMember')
  - var blockURL = sails.getUrlFor('ChatroomController.blockChatMember')
  
  div#origin(style="display:none;" data-url=originURL.replace(":chatroom", chat.id))
  div#remove(style="display:none;" data-url=removeURL.replace(":chatroom", chat.id))
  div#block(style="display:none;" data-url=blockURL.replace(":chatroom", chat.id))
  h1 Settings

    ul#chatAdmins
      h5 admins
      each admin in chat.admins
        li #{admin.username}

    ul#chatMembers 
      h5 Members
      each member in chat.members
        li #{member.username}
          button.removeChatMember(
            data-action = removeURL.replace(":chatroom", chat.id),
            data-username = member.username
            ) X
          button.blockChatMember(
              data-action = blockURL.replace(":chatroom", chat.id),
              data-username = member.username
            ) block
          
      
    +formField('text')(id='addChatMemberUsername', placeholder='username')
    button#addChatMember(
            data-action = addMemberUrl.replace(":chatroom", chat.id),
          ) add
          
    ul
      h5 blocked users
      each user in chat.blocked
        li #{user.username}
        //LIGO: write unblock function
       
  button#leave(data-action = leaveURL.replace(":chatroom", chat.id)) leave

block append scripts
  script(src="/js/chatroomSettings.js",
    autoConnect="false"
  )
